h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4vw;
  font-weight: bold;
  color: rgb(0, 111, 0);
}

.description-container {
  width: 700px;
  margin: 20px auto;
  border: 2px dashed black;
  padding: 40px;
}

.description-heading,
.description-content {
  text-align: center;
}

.description-content,
.ingredient-item,
.steps-item {
  font-size: 2vw;
  color: rgb(0, 70, 0);
  margin: 10px;
}

.recipe-image {
  display: block;
  margin: 0 auto;
}