* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: beige;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 6vw;
  font-weight: lighter;
  color: darkgreen;
}

.recipe-item {
  font-size: 2vw;
  color: chocolate;
  margin: 10px;
}

.recipe-list {
  width: 500px;
  margin: 0 auto;
}